*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1110px;
    margin: 0 auto;

}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.header__ul{
    display: flex;

}
.logo{
    margin-top: 10px;
    margin-left: 17px;

}
.logo1{
    margin-top: 10px;
    margin-left: 17px;

}
.header__nav-link{
    padding: 19px 24px 21px 28px;
    font-size: 18px;
    color: #4d4d4d;
    font-family: arial;
    font-weight: bold;
    display: inline-block;
}
.header__nav-link:hover{
    background: #c1bc45;
    color: white;
    transition: 500ms;

}
header{
    background:url(img/1410223962b6b3002e5588.97265713headerbg.jpg)no-repeat center center/cover ;
    height: 672px;
} 
.header__content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__row{
    height: 100%;
    display: flex;
    flex-direction: column;
}
span{
    font-weight: bold;
}
.header__nike{
    color: #c1bc45;
    font-size: 100px;
    line-height: 72px;
    font-family: arial;
    margin-bottom: 20px;
}
.header__nike-text{
    font-family: arial; 
    font-size: 20px;
}
main{
    margin-top: 70px;
    margin-bottom: 35px;
}
.catalog{
    display: flex;
    justify-content: space-between;
}
.all__nike{
    max-width: 540px;
}
.left__nike{
    width: 540px;
}

.nike__text{
   max-width: 540px;
}
.Nike{
    border: 4px solid #aeaeae;
    display: flex;
    margin-bottom: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
}
.footer__text{
    display: flex;
    justify-content: center ;
}
footer{
    background: #efecec;
    padding: 60px;
}
.footer__ul{
    display: flex;
}
.footer__nav-link{
    padding: 19px 24px 21px 28px;
    font-size: 18px;
    color: #4d4d4d;
    font-family: arial;
    font-weight: bold;
    display: inline-block;
}













@media(max-width: 1150px){
    .catalog{
        display: block;
    }
    .left__Nike{
       text-align: justify;
    }
    .left__Nike>img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .nike__text>h2{
        text-align: center;
    }
    .nike__text{
        margin: 0 auto;
    }
    .Nike{
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    .all__nike{
        
        margin: 0 auto;
    }
    .footer__text{
        display: block;
    }
    .footer__ul{
        display: flex;
        justify-content: center;

    }
    .logo1{
        display: none;
    }
    .logo{
        justify-content: center;
        display: flex;
    }
    .header__nav-link{
        font-size: 14px;
    }
    .footer__nav-link{
        font-size: 14px;
    }
    .header__nav{
        display: block;
    }
    .header__ul{
        display: flex;
        justify-content: center;
    }
}
@media(max-width:800px){
    .header__nav-link{
        font-size: 9px;
        padding: 0 10px;
        margin-top: 40px;
    }
    .footer__nav-link{
        font-size: 9px;
        padding: 0 10px
    }
    .header__nike{
        font-size: 60px;
    }
    .logo{
        display: none;
    }
    header{
        max-height: 400px;
    }
    .left__Nike>img{
        max-height: 300px;
        margin-top: 20px;
    }
    .nike__text>h2{
        font-size: 20px;
    }
    .nike__text>p{
        font-size: 14px;
        max-width: 400px;
        
    }
    .nike__text>h3{
        font-size: 17px;
    }
    .Nike>img{
        max-height: 60px;
        padding-right: 16px;
        padding-top: 10px;
    }
    .nike__text>p:first-of-type{
        font-size: 14px;
        max-width: 400px;
        margin: 0 auto  
    }
    .Nike{
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
        margin-top: 25px;
    }
}
@media(max-width:560px){
    .left__Nike>img{
        max-height: 200px;
        margin-bottom: 15px;
    }
    .footer__nav-link{
        font-size: 9px;
        padding: 0 7px;
        margin: 15px 0;
    }
    .header__nav-link{
        margin-top: 20px;
        font-size: 9px;
        padding: 0 7px
    }
    .header__nike{
        font-size: 40px;
    }
    header{
        max-height: 300px;
    }
    main{
        margin-top: 20px;
    }
    footer{
        padding: 15px;
    }
    .header__content{
        margin-left: 14px;
    }
    .header__nike-text{
        max-width: 190px;
    }
}
@media(max-width:420px){
    .footer__nav-link{
        font-size: 9px;
        padding: 0 7px;
        margin: 15px 0;
    }
    .header__nav-link{
        margin-top: 20px;
        font-size: 9px;
        padding: 0 7px
    }
    .nike__text>p:first-of-type{
         margin: 0 20px;
    }
    .nike__text>h3{
        text-align: center;
   }
   .nike__text>p{
    text-align: justify;
   }
}